header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    height: 35px;
}
header button{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
    width: 35px;
    border: none;
    cursor: pointer;
}
.btn-menu span{
    width: 100%;
    display: block;
    background-color: #fff;
    height: 3px;
    border-radius: 20px;
}
.btn-menu span:nth-child(2){
    width: 80%;
}
.btn-menu span:nth-child(3){
    width: 50%;
}